@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Radera data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Observera att om du raderar datan, raderas även ditt användarkonto.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label">Lösenord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn" type="submit">RADERA</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
