@* Kod tillhörande lösningen till projektuppgiften i kurs DT191G, skapat av Cecilia Edvardsson *@

@model Hairsalon.Models.TreatmentModel

@{
    ViewData["Title"] = "Ändra behandlingsinfo";
}

<div class="container-fluid inneradminfunctions-container">
    <div class="row">
        <section class="col-lg-12">
            <h1>@ViewData["Title"]</h1>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div><br>
                <div class="form-group">
                    <input type="submit" value="SPARA" class="btn" />
                </div>
            </form>
        </section>
        <a asp-action="Index" class="text-center">Tillbaka till listan med behandlingar</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
