@* Kod tillhörande lösningen till projektuppgiften i kurs DT191G, skapat av Cecilia Edvardsson *@

@{
    ViewData["Title"] = "Hem";
}

<div class="container-fluid public-container clientindex-container">
    <div class="row">
        <div class="col-lg-6 picture-column">
            <picture>
                <source media="(max-width: 650px)" srcset="../images/longdark-short.jpg">
                <source media="(min-width: 651px)" srcset="../images/longdark-long.jpg">
                <img src="../images/longdark-short.jpg" alt="">
            </picture>
        </div>
        <section class="col-lg-6 text-column">
                <h1>Ditt hår, vårt uppdrag</h1><br>
                <p>Vi på Hårcirkeln vill hjälpa dig att skaffa den frisyr du drömmer om vare sig 
                    detta involverar klippning eller färgbehandling. Som en av Stockholms äldsta frisörsalonger
                    har vi gedigen erfarenhet av att ge våra kunder den bästa tänkbara hårupplevelsen.<br><br>
                    Vår mysiga salong är belägen på Falugatan 10A i Vasastan. 
                    Kom in för en konsultation eller boka tid online alternativt via telefon.</p><br><br>
                <a class="btn" href="/bokatid">BOKA TID</a>
        </section>
    </div>
</div>