@* Kod tillhörande lösningen till projektuppgiften i kurs DT191G, skapat av Cecilia Edvardsson *@

@{
    ViewData["Title"] = "Kontakta oss";
}

<div class="container-fluid public-container">
    <div class="row">
        <section class="col-lg-6 text-column">
            <h1>@ViewData["Title"]</h1><br>
            <p>Välkommen att kontakta oss för att ställa frågor eller meddela synpunkter. 
            Du kan besöka oss, ringa eller skicka ett meddelande via formuläret nedan.<br><br>
            <strong>Adress</strong> Falugatan 10A<br>
            <strong>Telefon</strong> 08-123 45 67</p><br>
            <form>
                <div class="form-group">
                    <label for="contactFormName">Namn *</label>
                    <input type="text" class="form-control" id="contactFormName">
                </div><br>
                <div class="form-group">
                    <label for="contactFormEmail">E-postadress *</label>
                    <input type="email" class="form-control" id="contactFormEmail">
                </div><br>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Meddelande *</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div><br>
                <p>* = Obligatoriskt</p><br>
                <button type="submit" class="btn">SKICKA</button>
            </form>
        </section>
        <div class="col-lg-6 picture-column">
            <picture>
                <source media="(max-width: 650px)" srcset="../images/shortblonde-short.jpg">
                <source media="(min-width: 651px)" srcset="../images/shortblonde-long.jpg">
                <img src="../images/shortblonde-short.jpg" alt="">
            </picture>
        </div>
    </div>
</div>
